
a{
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 40px;
}

button{
    display: block;
    margin: 0px auto;
    /* color: white; */
    /* background-color: red; */

}

p{
    margin-top: 100px;
    text-align: center;
    font-size: 15px;
}
body, html{

    /* background-color: bisque; */
}


#navbar> ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 36px;
    /* color: orange; */
}
/* 
h1{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 2em; 
    color: orange;
} */

.grid > {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 100px, 100px;
    grid-template-rows: 100px, 100px;
}

.item{
    /* background-color: rgb(216, 216, 49); */
}
